*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgb(143, 12, 23);
}

nav li
{
    display: inline;
    margin-right: 8%;
    margin-left: 8%;
    list-style-type: none;
    font-size: 170%
}

nav a:link
{
    color: rgb(255, 255, 255);
    
}

nav a:visited
{
    color: rgb(255, 252, 252);
    
}

#container
{
    width: 80%; /* */
    margin: 0 auto;
    background-color: rgba(207,55,68);
    padding-top: 5px;
    padding-bottom: 5px;
}

header
{
    text-align: center;
    background-color: rgb(143, 12, 23);
    margin-bottom: 0.25%;
    margin-left: 0.25%;
    margin-right: 0.25%;
}

nav
{
    margin-bottom: 0.25%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    line-height: 250%;
    display: block;
    background-color: rgb(143, 12, 23);
}

aside
{
    margin-bottom: 0.25%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    float: left;
    background-color: rgb(143, 12, 23);
    width: 32%; 
    height: ;
}

#Act1
{
    width: 67%;
    background-color: rgb(143, 12, 23);
    float: right;
    margin-bottom: 0.25%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    padding-bottom: 2.5%;
}

#Act2
{
    background-color: rgb(143, 12, 23);
    float: right;
    width: 67%;
    margin-bottom: 0.25%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    clear: right;
    padding-bottom: 2.5%;
}

#Act3
{
    width: 67%;
    background-color: rgb(143, 12, 23);
    float: right;
    margin-bottom: 0.25%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    padding-bottom: 2.1%;
    clear: right;
}

footer
{
    background-color: rgb(143, 12, 23);
    margin-bottom: 0.25%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    clear: both;

}
img
{
    width: 96.7741935%; /* 300px */
    margin-left: 5px;
    margin-right: 5px;
}